# ─── 设备配置 ─────────────────────────────────────
CONFIG_TARGET_qualcommax=y
CONFIG_TARGET_qualcommax_ipq60xx=y
CONFIG_TARGET_MULTI_PROFILE=y
CONFIG_TARGET_DEVICE_qualcommax_ipq60xx_DEVICE_jdcloud_re-ss-01=y
CONFIG_TARGET_DEVICE_qualcommax_ipq60xx_DEVICE_jdcloud_re-cs-02=y
CONFIG_TARGET_DEVICE_qualcommax_ipq60xx_DEVICE_jdcloud_re-cs-07=y


# ─── 插件路径 ─────────────────────────────────────
# 特定设备插件
CONFIG_TARGET_DEVICE_PACKAGES_qualcommax_ipq60xx_DEVICE_jdcloud_re-cs-02="luci-app-athena-led luci-i18n-athena-led-zh-cn"
CONFIG_TARGET_DEVICE_PACKAGES_qualcommax_ipq60xx_DEVICE_jdcloud_re-cs-07="luci-app-lucky luci-app-gecoosac luci-app-dockerman"



# ─── 内存配置 ─────────────────────────────────────
CONFIG_ATH11K_MEM_PROFILE_512M=y


CONFIG_NSS_FIRMWARE_VERSION_12_5=y
# ─── 插件配置 ─────────────────────────────────────
# 启用插件
CONFIG_PACKAGE_luci-app-openlist2=y
CONFIG_PACKAGE_luci-app-athena-led=m
CONFIG_PACKAGE_luci-i18n-athena-led-zh-cn=m
CONFIG_PACKAGE_luci-app-lucky=m
CONFIG_PACKAGE_luci-app-gecoosac=m
CONFIG_PACKAGE_luci-app-dockerman=m

# 其他插件
CONFIG_PACKAGE_luci-app-subconverter=m
CONFIG_PACKAGE_luci-app-homeassistant=m
CONFIG_PACKAGE_luci-app-taskplan=m
